/*page*/
body {
	  margin: 0;
	  padding: 0;
		line-height: 1.6em;
	  font-size: 17px;
    background-color:#EBF4FA;
		font-family: helvetica;
    color:#FF6600;
}
.cleaner { clear: both; width: 100%; height: 0px; font-size: 0px;  }
.fl { float: left; }
/*LINKS*/
a:link {color:#000080;text-decoration: underline;}   
a:visited {color:#000080;} 
a:hover {color:#808080;text-decoration: underline;}  
a:active {color:#808080;}  

/* main continer*/
#GV_container {
	width: 1410px;
	margin: 0 auto;
	padding: 0 10px;
}

/*tiles and colours*/
#banner {
	width: 850px;
	padding: 10px 0 1px 0;
	margin: 0 auto;
}	

#banner #logo {
	width: 860px;
	height: 230px;
	margin: 0 auto;
	border: 5px solid #336699;	
	padding: 0 0 0 0;
  background: url(Header.jpg) no-repeat;
}
/* menu behaviour*/

#GV_menu {
	clear: both;
  width: 960px;
	height: 42px;
	margin: 0 auto;
	margin-top: 0;
	border: 5px solid #FF6600;	
	padding: 0 0 0 0;
	background: url(bar.gif) repeat-x;
}

#GV_menu ul {
	float: auto;
	margin: 0px;
	padding: 0 0 0 10px;
	list-style: none;
}

#GV_menu ul li {
	margin: 0px;
	padding: 0px;
	display: inline;
}
#GV_menu ul li a {
	position: relative;	
	float: left;
	display: inline-block;
	height: 30px;
	width: 160px;
	margin-right: 10px;
	margin-left: 10px;
	text-align: center;
	padding: 12px 0 0 0;
	font-size: 20px;
	font-weight: bold;
	text-decoration: none;
	color: #ffffff;	
	outline: none;
}

#GV_menu li a:hover {
	font-size: 30px;
	text-decoration: none;
	color:#336699;	
	outline: none;
}
/* menu over*/
/* left column*/
.header_01 {
  float: left;
	padding: 0 5px 10px 5px; /* top, right, bottom, and left padding*/
	margin: 0 0 10px 0; /* top, right, bottom, and left padding*/
	font-size: 15px;
	color: #336699;
	font-weight: bold;
	width: 205px; 
}
.column_1 {
	padding: 20px 5px 10px 5px; /* top, right, bottom, and left padding*/
	margin: 0 auto;
	color:#FF6600;
	width: 215px; 

}
.lynx a{
  float: left;
	padding: 0 5px 0 5px; /* top, right, bottom, and left padding*/
	margin: 0 0 10px 0;
	font-size: 20px;
	color:#FF6600;
	line-height: 1.9em;
	text-decoration: none;
}
/* left column over*/
/* middle column*/
.column_2 {
	padding: 50px 0 20px 40px; /* top, right, bottom, and left padding*/
  margin: 0 auto;  /*top, right, bottom, and left padding*/	
	width: 920px;
}
.header_02 {
	padding: 0 0 10px 0; /* top, right, bottom, and left padding*/
	font-size: 25px;
	font-weight: bold;
	color: #336699;
}
/* middle column over*/
/* right column*/
.column_3 {
	padding: 20px 5px 10px 5px; /*top, right, bottom, and left padding*/	
	margin: 0 auto;  
	color:#336699;
	width: 205px; 
	/*border: 1px solid #336699;*/	
}
.header_03 {
  float: auto;
	padding: 0 5px 0 5px;
	margin: 0 0 10px;
	font-size: 15px;
	color:#336699;
	font-weight: bold;
}

.dates {
  float: auto;
	padding: 0 5px 0 5px; /* top, right, bottom, and left padding*/
	margin: 0 0 10px;
	font-size: 20px;
	color:#FF6600;
	line-height: 1.1em;
}
/* right column over*/
